### Import useful libraries

In [1]:
import numpy as np
import pandas as pd
import urllib

### Open link and read the page

In [2]:
link = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
page_b = link.read()

### Transform the page_b in bytes to page in UTF-8 format

In [3]:
page = page_b.decode("UTF-8")

### Since there is only one table, it is possible to directly read it
I read the HTML and put it into a dataframe, df_toronto
(Using other Python libraries, e.g., BeautifulSoup, as not necessary)

In [4]:
tab = page[page.find("<table"):page.find("</table>")+8]
df_toronto = pd.read_html(tab, header = 0)[0]

### Select only boroughs with an assigned name

In [5]:
df_toronto = df_toronto[df_toronto.Borough != "Not assigned"]

### Assign the borough name to the neighborhoods with no assigned name, i.e., "Not assigned"

In [6]:
df_toronto.Neighbourhood[df_toronto.Neighbourhood == "Not assigned"] = df_toronto.Borough[df_toronto.Neighbourhood == "Not assigned"]
df_toronto.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### I group the data by Postcode, and compose the name of all neighbourhood
To this aim, I define the function multiple_neighborhood, which builds a unique string of neighborhood names separated by commas

In [7]:
def multiple_neighborhood(n):
    lst = ""
    for i in range(len(n)-1):
        lst = lst + n.iloc[i] + ", "
    lst = lst + n.iloc[-1]
    return lst

df_toronto = df_toronto.groupby(["Postcode"]).agg({"Borough": lambda x: x.iloc[0], 
                                                   "Neighborhood": lambda x: multiple_neighborhood(x)})
df_toronto.head()

              Borough                           Neighbourhood
Postcode
M1B       Scarborough                          Rouge, Malvern
M1C       Scarborough  Highland Creek, Rouge Hill, Port Union
M1E       Scarborough       Guildwood, Morningside, West Hill
M1G       Scarborough                                  Woburn
M1H       Scarborough                               Cedarbrae

### I finally print the size of the dataframe df_toronto

In [8]:
df_toronto.shape

(103, 2)